---
---

@import "{{ site.theme }}";

.img1 {
  width:500px;
  height:333px;
}

.btn_body {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(21, 153, 87, 0.2);
  border-color: rgba(71, 71, 71, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    background-color: rgba(21, 87, 153, 0.2);
    border-color: rgba(71, 71, 71, 0.3);
}
